/*************************************************
Base CSS Start
*************************************************/
body{
margin: 0;
padding: 0;
font-family: 'SiyamRupali', sans-serif;
/*font-family: 'Kalpurush', sans-serif;
font-family: 'Lato', sans-serif;*/
}
a{
text-decoration: none;
}
ul{
margin: 0;
}
li{
list-style: none;
}
/***************************************
*          Header CSS Starts
* *************************************/
.header{
padding-top: 30px !important;
}
.img-logo{
height: 70px;
width: 100px;
}
.text-nav a{
color: #000 !important;
text-decoration: none;
font-size: 20px !important;
padding: 10px 25px !important;
}
.text-nav a{
color: #fff !important;
}
.text-nav a:first-child{
color: grey !important;
font-weight: 600 !important;
}
.text-nav a:last-child{
background: #de3031;
border-radius: 8px;
letter-spacing: 2px;
color: #fff;
}
.active a{
color: #11B563 !important;
}
.bg-head{
/*background-color: #11B563 !important;*/
/*background: rgba(51, 51, 51, 0.8) !important;*/
/*opacity: 0.5;*/
}
.bannermain{
height: 581px;
width: 100%;
position: relative;
box-shadow: 3px 3px 4px #a9a9a9;;
}
.banner-hr{
position: absolute;
top: 200px;
}
.navbar{
padding: 0 !important;
z-index: 1;
}
.h-text{
max-width: 600px;
position: absolute;
top: 10%;
left: 10%;
}
.h-text h1{
font-size: 5em;
color: #222f3e;
font-family: 'Crimson Text', serif;
}
.h-text p{
font-size: 20px;
margin-bottom: 30px;
}
.h-text a{
text-decoration: none;
background: #01a3a4;
color: #fff;
font-family: 20px;
padding: 10px 20px;
font-family: 'Bitter', serif;
border-radius: 8px;
transition: 0.8s;
}
.h-text a:hover{
background: #FFF0C1;
color: #222F3E;
/*	font-family: 20px;
padding: 10px 20px;
font-family: 'Bitter', serif;
border-radius: 8px;*/
}
#download{
background: transparent;
color: #01a3a4;
box-shadow: 2px 0px 0px grey;
}
#download:hover{
background: #222F3E;
color: #FFF0C1;
}
.social{
position: fixed;
top: 45%;
left: 0;
transform: translateY(-50%);
display: flex;
flex-direction: column;
}
.social i{
color: #fff;
padding: 10px;
font-size: 20px;
margin: 5px 0px;
background: #01a3a4;
}
.social i:hover{
background: transparent;
transition: 0.4s;
border: 1px solid #000;
color: #000;
}
.box{
width: 55%;
height: 70%;
position: absolute;
top: -120px !important;
right: 0;
background: rgba(255, 234, 167, 0.7);
z-index: -1;
}
.hero-img{
width: 500px;
height: 650px;
position: absolute;
right: 10%;
top: -69px !important;
}
.signa{
height: 100px;
width: 100px;
}
.about-img{
height: 300px;
width: 100%;
/*box-shadow: 2px 0px 0px grey;*/
}
.skill1{
height: 193px;
width: 243px;
}
.prog-bar-a{
padding: 10px !important;
}
.copyright{
background-color: #000;
color: #fff;
padding: 0 !important;
margin: 20px 0 0 0 !important;
}
.copyright p{
padding: 0 !important;
margin: 0 !important;
text-align: center !important;
}
.skill1{
transition: 0.5s;
}
.skill1:hover{
opacity: 0.5;
}
/***************************************
*          Header CSS Starts
* *************************************/